.mainMenu {
  width: 100%;
  display: block;
}
.inner {
  max-width: 960px;
  margin: 0 auto;
}
.wrapperImg{
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 530px;
  background-position: 50% 50%;
  background-image: url("../../public/vantage.png");
}
.wrapperBtn{
  display: flex;
}
.btnSuccess a{
  display: flex;
  padding: 14px 100px 14px 100px;
  color: #ffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  width:100%;
  box-shadow: 0px 0px 0.2rem #00000029;
  background: linear-gradient(to right, #f08461, #de3600);
  border-radius: 44px;
  transition: 0.3s all;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.btnCancel a{
  display: flex;
  padding: 14px 100px 14px 100px;
  color: #ffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  width:100%;
  box-shadow: 0px 0px 0.2rem #00000029;
  background: #034853;
  border-radius: 44px;
  transition: 0.3s all;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.wrapperBtn{
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.footer{
  margin-top: 58px;
}
.footer h4{
  text-align: center;
  font-size: 21px;
}
.footer p{
  margin-top: 2px;
  text-align: center;
}
.title{
  margin-top: 20px;
}
.wrapperBtn{
  margin-top: 50px;
}
@media screen and (max-width: 900px) {
  .wrapperImg{
    min-height: 610px;
  }
  .wrapperBtn{
    margin-top: 15px;
    flex-direction: column;
    gap: 10px;
  }
  .btnSuccess a{
    width: 90%;
    margin: auto;
  }
  .btnCancel a{
    margin: auto;
    width: 90%;
    padding: 13px 80px 14px 83px;
  }
  .footer{
    margin-top: 20px;
  }
}
@media screen and (max-width: 760px) {
  .wrapperImg{
    background-position: 50% 50%;
    background-image: url("../../public/vantage_mobile.png");
  }
}